<!--Brad Bilter -->
<!--RESTful action SHOW standard route-->
<h1 class="centered">New Account</h1>
<div class="row">
  <div class="small-8 medium-6 large-4 small-centered columns">
    <div class="panel">
      <%= form_for @login, url: admin_accounts_path do |f| %>
        <!--Hidden fields required for Devise helper to add the record-->
        <!--Ryan Hilsabeck added another hidden field if current login is a work so they can only add users-->
        <% f.hidden_field :created_at, value: DateTime.now %>
        <% f.hidden_field :updated_at, value: DateTime.now %>
        <%= f.hidden_field :last_sign_in_at, value: DateTime.now %>
        <% if current_login.admin? %>
        <%= render 'form', f: f, include_type: true %>
        <% else %>
        <%= f.hidden_field :type, value: :user %>
        <%= render 'form', f: f, include_type: false %>
        <% end %>
        <%= f.submit 'Create account', class: 'small success button' %>
      <% end %>
    </div>
  </div>
</div>
