<!-- author: Brett Bush, Ryan Hilsabeck added drop doens for programs -->

<!-- Graduate Degree Form Render -->
<%= form_tag("/report/show", method:"post", onsubmit:"report_form_reset()") do %>

  <h3>Report by Graduate Degree Program</h3>
  <p>Make a list of users by their graduate degree program.</p>

  <%= label_tag(:program_select, 'Select a program: ') %>
  <%= select_tag(:program_select, options_for_select(["Business Administration","International Business Administration","Education","Leadership Studies","Liberal Studies","Management Information Systems","Web and Internet application"])) %>

  <%= label_tag(:saved_list_type, 'Run report on: ') %>
  <%= select_tag(:saved_list_type, (options_from_collection_for_select(SavedList.where("login_id = ?", current_login.id), :id, :list_name)), {:include_blank => 'All Users'}) %>

  <!-- Form identifiers -->
  <%= hidden_field_tag(:report_id, 3) %>
  <%= hidden_field_tag(:report_name, "Graduate Degree Program") %>

  <%= submit_tag('Submit', :class => 'button') %>
<% end %>
