<% # Changes made by Ryan Hilsabeck to move some alumbook2 functionality to alumbook1 %>
<% # Created by Tim Schneider, edited by Maxwell Barvian  %>
<%= form_for @user, multipart: true do |f|  %>
<div class="row">
  <div class="large-3 columns">
    <div class="panel">
      <div class="profile-avatar">
        <%= image_tag @user.avatar.url(:full) %>
        <% if @user.avatar.file? %>
          <%= link_to avatar_user_path(@user), class: 'profile-avatar-delete alert small icon button',
            method: :delete,
            data: { confirm: 'Are you sure you want to remove your avatar?' } do %>
            <i class="fi-x"></i>
          <% end %>
        <% end %>
      </div>
      <%= f.file_field :avatar %>
      <h5 align="center"><%= @user.login.full_name %></h5>
      <% if current_login.authorized_to_edit_profile? @user.id %>
        <br/>
        <h6><b>Staying Connected Details</b></h6>
        <p> You have <b><%= giving_back_jobs_internships @user.id %></b> approved internships/jobs </p>
        <h6><b>Surveys</b></h6>
        <p> You have <b><%= survey_count %></b> survey/s available to take </p>
        <h6><b>Opt In Details</b></h6>
          <b>General:</b> <%= convert_opt_in_to_words(@user.general_opt_in.present? ? @user.general_opt_in : 0) %><br/>
          <b>Email:</b> <%= convert_opt_in_to_words(@user.email_opt_in.present? ? @user.email_opt_in : 0) %>
          <br/>
          <b>Phone:</b> <%= convert_opt_in_to_words(@user.phone_opt_in.present? ? @user.phone_opt_in : 0) %>
      <% end %>
    </div>
  </div>

  <div class="large-9 columns">
    <div class="panel">
      <div class="clearfix">
        <%= submit_tag 'Save', class: 'small success right button' %>
        <% # Changes made by Ryan Hilsabeck to move some alumbook2 tab names below %>
          <dl class="tabs" data-tab>
            <dd class="active">
              <a href="#pnlPersonalInfo">Personal</a>
            </dd>
            <dd>
              <a href="#pnlEducationInfo">Education</a>
            </dd>
            <dd>
              <a href="#pnlEmploymentInfo">Employment</a>
            </dd>
            <dd>
              <a href="#pnlPasswordInfo">Password</a>
            </dd>
            <dd>
              <a href="#pnlPrivacyInfo">Privacy</a>
            </dd>
          </dl>
      </div>
      <div class="tabs-content">
        <% # Changes made by Ryan Hilsabeck to move some alumbook2 to correct fields to edit in this tab %>
        <!-- Contact Section  -->
        <section role="tabpanel" aria-hidden="false" class="content active" id="pnlPersonalInfo">
          <%= f.fields_for :login do |f_login| %>
          <div class="row">
          <div class="small-3 columns">
            <%= f_login.label :first_name %>
            <%= f_login.text_field :first_name %>
          </div>
          <div class="small-1 columns">
            <%= f_login.label :middle_initial, 'MI' %>
            <%= f_login.text_field :middle_initial, maxlength: 1 %>
          </div>
          <div class="small-8 columns">
            <%= f_login.label :last_name %>
            <%= f_login.text_field :last_name %>
          </div>
          </div>
            <%= f_login.label :email %>
            <%= f_login.text_field :email %>
  
          <% end %>

          <fieldset>
            <legend>Address</legend>
            <%= f.label :street %>
            <%= f.text_field :street %>

            <div class="row">
              <div class="medium-6 columns">
                <%= f.label :city %>
                <%= f.text_field :city %>
              </div>
              <div class="medium-3 columns">
                <%= f.label :state %>
                <%= f.select :state, Geography::US_STATES.map { |w,s| [s, w] }, include_blank: true %>
              </div>
              <div class="medium-3 columns">
                <%= f.label :zip %>
                <%= f.text_field :zip %>
              </div>
            </div>
          </fieldset>

          <fieldset>
            <legend>Phones</legend>
            <div id="user_phones">
              <% if @user.user_phones.present? %>
              <%= f.fields_for :user_phones do |f_phone| %>
                <%= render 'user_phone_fields', f: f_phone %>
              <% end %>
              <% end %>
             <%= link_to_add_association 'add phone', f, :user_phones %>
            </div>
          </fieldset>
        </section>

        <!-- Education Section  -->
        <!-- Ryan Hilsabeck added program section below and added status to this tab section  -->
        <section role="tabpanel" aria-hidden="true" class="content" id="pnlEducationInfo">
          <fieldset>
          <legend>North Central College Graduate Program Information</legend>
          <div class="row">
            <div class="medium-5 columns">
              <div class="medium-8 columns">
              <div class="row">
              <%= f.label :status %>
              <%= f.select :status, options_for_select([[ 'Currently Enrolled', 1], ['Alumni', 0 ]],
                                                        selected: @user.status), include_blank: true %>
              </div>
            </div>
            </div>
            <div class="medium-7 columns">
              <div class="row">
              <div class="medium-12 columns">
              <%= f.label :program %>
              <%= f.select :program, options_for_select(["Business Administration","International Business Administration", "Education - Curriculum & Instruction", "Education - Leadership & Administration","Leadership Studies - Higher Education", "Leadership Studies - Professional Leadership", "Leadership Studies - Social Entrepreneurship", "Leadership Studies - Sports Leadership", "Liberal Studies","Management Information Systems","Web and Internet Applications"], selected: @user.program), include_blank: true %>
              </div>
            </div>
            </div>
          </div>
        </fieldset>

          <fieldset>
            <legend>Undergraduate Degrees</legend>
            <div class="block-list">
              <div id="undergraduate_degrees">
                <% if @user.undergraduate_degrees.present? %>
                <%= f.fields_for :undergraduate_degrees do |f_undergrad_degree| %>
                  <%= render 'undergraduate_degree_fields', f: f_undergrad_degree %>
                <% end %>
                <% end %>
                <%= link_to_add_association 'add degree', f, :undergraduate_degrees %>
              </div>
            </div>
          </fieldset>
          <!-- Ryan Hilsabeck fixed the below so the grad degree block only shows up when you had a grad degree -->
          <fieldset>
            <legend>Graduate Degrees</legend>
            <div class="block-list">
              <div id="graduate_degrees">
                <% if @user.graduate_degrees.present? %>
                <%= f.fields_for :graduate_degrees do |f_grad_degree| %>
                  <%= render 'graduate_degree_fields', f: f_grad_degree %>
                <% end %>
                <% end %>
                <%= link_to_add_association 'add degree', f, :graduate_degrees %>
              </div>
            </div>
          </fieldset>
        </section>

        <!--  Employment Section -->
        <section role="tabpanel" aria-hidden="true" class="content" id="pnlEmploymentInfo">
          <fieldset>
            <legend>Employment Information</legend>
          <div class="row">
            <div class="medium-6 columns">
              <%= f.label :job_title %>
              <%= f.text_field :job_title %>
            </div>
            <div class="medium-6 columns">
              <%= f.label :salary_range %>
              <%= f.select :salary_range, options_for_select([["< $ 49,000", 0],
                                                        ["$ 50,000 to $ 99,000", 1],
                                                        ["$ 100,000 to $ 149,000", 2],
                                                        ["$ 150,000 to $ 199,000",3],
                                                        ["> $ 200,000", 4]],
                                                        selected: @user.try(:salary_range)), include_blank: true %>
            </div>
          </div>
            <div class="row">
            <div class="medium-7 columns">
              <%= f.label :start_date %>
              <%= f.date_select :start_date, {order: [:month, :day, :year], include_blank: true, start_year: Date.today.year, end_year: 1920}, {class: "date-select"}  %>
            </div>
            </div>
         </fieldset>

          <fieldset>
            <legend>Employer</legend>
            <% @user.build_company unless @user.company %>
            <% @user.company.build_company_info unless @user.company.company_info %>
            <%= f.fields_for :company do |f_company| %>
              <%= f_company.label :company_name %>
              <%= f_company.autocomplete_field :company_name, autocomplete_company_name_user_index_path %>

              <%= f_company.fields_for :company_info do |f_company_info| %>
                <div class="row">
                  <div class="medium-4 columns">
                    <%= f_company_info.label :street %>
                    <%= f_company_info.text_field :street %>
                  </div>
                  <div class="medium-3 columns">
                    <%= f_company_info.label :city %>
                    <%= f_company_info.text_field :city %>
                  </div>
                  <div class="medium-3 columns">
                    <%= f_company_info.label :state %>
                    <%= f_company_info.select :state, Geography::US_STATES.map { |w,s| [s, w] } %>
                  </div>
                  <div class="medium-2 columns">
                    <%= f_company_info.label :zip %>
                    <%= f_company_info.text_field :zip %>
                  </div>
                </div>
                <div class="row">
                  <div class="medium-2 columns">
                    <%= f_company_info.label :country_code %>
                    <%= f_company_info.text_field :country_code %>
                  </div>
                  <div class="medium-3 columns">
                    <%= f_company_info.label :area_code %>
                    <%= f_company_info.text_field :area_code %>
                  </div>
                  <div class="medium-3 columns">
                    <%= f_company_info.label :prefix %>
                    <%= f_company_info.text_field :prefix %>
                  </div>
                  <div class="medium-4 columns">
                    <%= f_company_info.label :suffix %>
                    <%= f_company_info.text_field :suffix %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </fieldset>
        </section>

        <!--  Personal Section -->
        <!--  Ryan Hilsabeck added this info below-->
        <section role="tabpanel" aria-hidden="true" class="content" id="pnlPasswordInfo">
          <%= f.fields_for :login do |f_login| %>
            <fieldset>
              <legend>Password Reset</legend>
              <p> Password must be at least 8 characters long </p>
                <%= f_login.label :New_Password %>
                <%= f_login.password_field :password, autocomplete: "off" %>

                <%= f_login.label :Confirm_Password %>
                <%= f_login.password_field :password_confirmation, autocomplete: "off" %>
        </fieldset>
      <% end %>
        </section>
       <!--  Privacy Section -->
        <!--  Ryan Hilsabeck added this info below-->
        <section role="tabpanel" aria-hidden="true" class="content" id="pnlPrivacyInfo">
          <p>Our database was designed to help connect current students and alumni and to help strengthen North Central’s Graduate Community.</p>
          <p>By opting in, you are joining an elite community of involved, informed, principled and productive citizens, working together to make a positive impact on North Central’s Graduate Programs, and helping create a network to foster professional development and constant learning.</p>
          <p>You can change your privacy setting at any time.</p>
                <fieldset>
                  <legend>Opt In?</legend>
                  <div class="row">
                  <div class="medium-10 columns">
                    <%= f.check_box :general_opt_in, {}, 1, (@user.general_opt_in.present? ?
                                  convert_opt_in_to_true_false(@user.general_opt_in) : 0) %>
                    <label for="general_opt_in">General opt in (Allow your name to be searched by other users)</label>
                  </div>
                  </div>

                  <div class="row">
                  <div class="medium-10 columns">
                    <%= f.check_box :email_opt_in,{}, 1, (convert_opt_in_to_true_false(
                                                            @user.email_opt_in.present? ?
                                                            @user.email_opt_in : 0)) %>
                    <label for="email_opt_in">eMail opt in (Allow your email address to be visible by other users)</label>
                  </div>
                  </div>
                  <div class="row">
                    <div class="medium-10 columns">
                    <%= f.check_box :phone_opt_in, {},1,(convert_opt_in_to_true_false(
                                                            @user.present? ?
                                                            @user.phone_opt_in : 0)) %>
                    <label for="phone_opt_in">Phone opt in (Allow your phone number to be visible by other users)</label>
                  </div>
                  </div>
                </fieldset>
        </section>
      </div>
    </div>
  </div>
</div>
<% end %>