<!View all surveys, publish surveys, create new surveys>

    <tr>
      <td><%= survey.status %></td>
      <td><%= survey.survey_name%></td>
      <td><%= survey.date_created%></td>
      <% if survey.status == 'unpublished' %>
      <td><%= link_to 'Edit', action: 'edit', :id => survey, :survey_id => survey %></td>
      <td><%= link_to 'Publish', action: 'publish',  :id => survey %></td>
      <% elsif survey.status == 'published' %>
        <td><%= link_to 'Close', action: 'close',  :id => survey %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
